body,html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #9b7653;
	overflow: hidden;
	position: fixed;
	overscroll-behavior: none;
}

.left,.right,.up {
	font-family: Comfortaa;
	border: 5px solid #aaaaaa;
	background-color: #cccccc;
	border-radius: 50%;
	text-align: center;
	vertical-align: center;
	color: #aaaaaa;
	position: absolute;
	top: 80%;
	user-select: none;
}

.left {
	left: 10%;
}

.right {
	left: 30%;
}

.up {
	left: 80%;
}

.left:active,.right:active,.up:active {
	background-color: #bbbbbb;
}

.left:focus,.right:focus,.up:focus {
	outline: none;
}